.header-option-wrapper {
    position: relative;
}

.admin-link {
    position: absolute;
    right: -110px;
    top: 0;
    color: beige;
    background-color: dimgray;
    padding: 5px;
    border-radius: 5px;
}